In [1]:
#import libraries
import pandas as pd

In [2]:
#load and read the dataset
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
# to find number of rows and col's
no_of_rows_and_col=dataset.shape
print("Number of rows and columns:",no_of_rows_and_col)
# Here the number of rows = 1338 and the columns = 6

Number of rows and columns: (1338, 6)

In [4]:
#to list the col names
dataset.columns
# here 'age', 'sex', 'bmi', 'children', 'smoker' - are input
#'charges' - are output

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [5]:
# preprocessing to convert categorical value to numerical 

dataset.sex[dataset.sex == 'male']=1
dataset.sex[dataset.sex == 'female']=2

dataset.smoker[dataset.smoker == 'yes']=1
dataset.smoker[dataset.smoker == 'no']=0
dataset

C:\Users\HP\AppData\Local\Temp\ipykernel_16560\4071425206.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.sex[dataset.sex == 'male']=1
C:\Users\HP\AppData\Local\Temp\ipykernel_16560\4071425206.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.sex[dataset.sex == 'female']=2
C:\Users\HP\AppData\Local\Temp\ipykernel_16560\4071425206.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.smoker[dataset.smoker == 'yes']=1
C:\Users\HP\AppData\Local\Temp\ipykernel_16560\4071425206.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.smoker[dataset.smoker == 'no']=0

      age sex     bmi  children smoker      charges
0      19   2  27.900         0      1  16884.92400
1      18   1  33.770         1      0   1725.55230
2      28   1  33.000         3      0   4449.46200
3      33   1  22.705         0      0  21984.47061
4      32   1  28.880         0      0   3866.85520
...   ...  ..     ...       ...    ...          ...
1333   50   1  30.970         3      0  10600.54830
1334   18   2  31.920         0      0   2205.98080
1335   18   2  36.850         0      0   1629.83350
1336   21   2  25.800         0      0   2007.94500
1337   61   2  29.070         0      1  29141.36030

[1338 rows x 6 columns]

In [6]:
# assign input and output value
independent = dataset[['age', 'sex', 'bmi', 'children', 'smoker']]
print(independent)
dependent = dataset[['charges']]
print(dependent)

      age sex     bmi  children smoker
0      19   2  27.900         0      1
1      18   1  33.770         1      0
2      28   1  33.000         3      0
3      33   1  22.705         0      0
4      32   1  28.880         0      0
...   ...  ..     ...       ...    ...
1333   50   1  30.970         3      0
1334   18   2  31.920         0      0
1335   18   2  36.850         0      0
1336   21   2  25.800         0      0
1337   61   2  29.070         0      1

[1338 rows x 5 columns]
          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
# spliting training and testing data

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
X_train,X_test,Y_train,Y_test

(      age sex     bmi  children smoker
 1163   18   2  28.215         0      0
 196    39   2  32.800         0      0
 438    52   2  46.750         5      0
 183    44   2  26.410         0      0
 1298   33   1  27.455         2      0
 ...   ...  ..     ...       ...    ...
 763    27   1  26.030         0      0
 835    42   1  35.970         2      0
 1216   40   1  25.080         0      0
 559    19   1  35.530         0      0
 684    33   2  18.500         1      0

 [936 rows x 5 columns],
       age sex     bmi  children smoker
 578    52   1  30.200         1      0
 610    47   2  29.370         1      0
 569    48   1  40.565         2      1
 1034   61   1  38.380         0      0
 198    51   2  18.050         0      0
 ...   ...  ..     ...       ...    ...
 1261   28   1  37.100         1      0
 494    21   1  25.700         4      1
 97     55   1  38.280         0      0
 418    64   1  39.160         1      0
 920    62   2  25.000         0      0

 [402 rows x 5 columns],
           charges
 1163   2200.83085
 196    5649.71500
 438   12592.53450
 183    7419.47790
 1298   5261.46945
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [936 rows x 1 columns],
           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 1261   3277.16100
 494   17942.10600
 97    10226.28420
 418   14418.28040
 920   13451.12200

 [402 rows x 1 columns])

In [111]:
#Model creation
from sklearn.ensemble import RandomForestRegressor 
# regressor=RandomForestRegressor(n_estimators=50,criterion='poisson')
regressor=RandomForestRegressor(n_estimators=100,criterion='absolute_error',max_features='log2')
regressor=regressor.fit(X_train,Y_train)

C:\Users\HP\AppData\Local\Temp\ipykernel_16560\1399244423.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor=regressor.fit(X_train,Y_train)

In [112]:
# testing
test_pred= regressor.predict(X_test)
test_pred

array([10983.8890037 ,  9697.290297  , 44408.36463545, 13564.264559  ,
       10486.51043235,  9788.83673275,  2545.62292425, 11564.5640824 ,
        7230.6202413 ,  5759.99037175,  6106.4407779 , 13049.2305971 ,
        8080.31080475,  6125.8299441 , 23954.31792235, 11223.0798973 ,
       14772.7963901 ,  3609.185043  ,  6453.28398005, 31211.99402135,
       24882.1488517 , 15359.18161155, 11319.24698065, 28078.12426335,
        3118.28323645,  6845.35038425,  3789.9533435 ,  8247.20838675,
        3724.36389525, 12421.27967125,  8424.2624528 , 45324.2434449 ,
       14348.6394648 , 13877.72664725, 17298.2477583 ,  4325.40387085,
        9009.8758551 , 37075.94456525, 38489.98910875,  2246.83193125,
        5407.12036795,  3344.27483775, 21970.73736435, 46016.6225391 ,
       36907.12869145,  3935.05804225, 11314.4957388 ,  6869.8065242 ,
        5586.5588937 , 14570.45866255,  4706.84607875,  5151.4945907 ,
       26967.49311535, 45556.462625  , 11806.1222265 , 10261.0029476 ,
        4541.8284018 , 10658.04510725,  9990.8758713 , 16245.5499648 ,
        2147.7127641 , 43962.7595485 , 16786.331013  , 16516.1477374 ,
       10791.774165  , 10075.9819309 , 30468.43738525, 38742.228554  ,
        4730.6804578 ,  9154.86777115, 14457.7251537 , 12836.2868616 ,
       18093.16287315, 13913.5282336 , 13400.2461884 , 13653.9784538 ,
       10556.9060039 , 16747.08879895, 21461.03583835, 43790.4619791 ,
       11589.37221475, 44756.94259505,  4964.4815426 , 11473.7896235 ,
       39244.253116  , 20475.6613227 ,  4880.6456727 ,  3432.37855145,
       14231.345423  , 38063.21773165,  6106.9244322 , 14450.2941589 ,
        3263.673871  , 10279.9162612 , 10352.6704952 ,  4623.62357565,
       41524.7692229 , 43394.79076175,  5434.2339429 , 11538.4261122 ,
        4403.8537699 ,  6979.34320015,  7929.9991457 , 36777.3797297 ,
       26297.4532429 ,  3979.4803518 , 10851.3615295 ,  3857.9842202 ,
       11573.9065875 , 44034.7127769 , 11646.5023286 ,  7944.35335135,
       10435.30318305, 33065.95755975, 43548.5934031 ,  7485.8869626 ,
        2803.2576704 , 11429.23413605, 16323.4580064 , 11105.5807812 ,
       41197.7495429 , 12698.57753395, 13937.964094  ,  7760.9156653 ,
        9920.21951825,  5105.36412325, 23937.07510545, 26363.88346215,
       46382.7982673 ,  1805.35842275, 11536.3730012 ,  3864.3215769 ,
        6223.65578105,  9280.3344099 , 31544.02116395, 33510.4206311 ,
       24473.28024945, 11494.731899  , 23784.31974215,  5368.83310085,
        2048.46366875, 12663.9848828 , 10910.337721  , 11363.86990845,
        7521.7776246 , 14007.342097  , 19994.21362785, 11932.34375755,
        1935.592204  , 12286.5971495 ,  6489.45055455, 37505.15244865,
       10349.02310085,  5459.64167665,  3638.128222  ,  6979.30370275,
        3245.5739807 ,  5809.93388425, 11223.0798973 ,  9884.0019106 ,
        6972.12945165, 13109.390452  , 13891.0082445 ,  9431.28333595,
        4008.665106  ,  8003.9743648 , 17033.37940115,  7461.31029415,
        4968.71505035,  2450.575007  ,  6984.64113755,  5971.8937147 ,
       10946.63211065,  2454.4021118 ,  7176.31848915,  8070.8272378 ,
        4700.32025045,  6847.7493173 , 32808.6384396 ,  1754.3204195 ,
       15699.3212828 ,  6398.2843835 , 11424.0919267 ,  6098.144353  ,
        8368.82329645, 27649.7034981 ,  4279.4485212 ,  3318.3372197 ,
       14270.1539132 , 11009.462663  , 41291.7231906 ,  6123.2854484 ,
        5471.42552675, 26708.19010895,  3423.2902708 ,  2774.0571098 ,
        6851.53991105,  6107.79624495,  9991.37098455,  4477.48185185,
       12669.294325  , 44076.1634519 , 17303.7322206 , 19405.7956104 ,
       13323.8110624 , 43125.2166761 ,  4658.32516075, 10293.51429595,
        8770.12702335,  3711.0431325 ,  9252.3923793 , 13843.0333202 ,
        7517.58719575,  5183.50570825,  6470.17387525,  4797.4055502 ,
        6800.0664256 ,  6305.5008663 , 13911.0667903 ,  7333.25743565,
        8876.61627145,  8024.99148385, 10418.63633225, 12006.100731  ,
       12476.2962934 , 13980.539563  , 16326.17651515, 12568.8924391 ,
        6773.0062713 ,  2790.7984207 ,  2949.42121445,  8077.46640625,
       14618.0906789 ,  7584.26425825,  6279.2280998 ,  7351.88434975,
       12189.88217805, 33205.26672145,  5833.362082  , 11343.1061885 ,
        6240.25046135, 36882.0210717 ,  9461.55652045,  8764.6934719 ,
       10267.8740196 , 10975.4291585 ,  3426.690782  ,  8879.1026369 ,
        5162.66787105,  6767.939842  , 19217.1130466 , 45152.0541517 ,
        5207.424992  ,  4798.6985047 ,  9618.05988825,  1631.873714  ,
        8715.0320712 ,  3962.099826  ,  6567.5247365 ,  8470.2976966 ,
        9528.8133889 , 24788.92619175, 44106.1677524 , 16062.38197655,
        6525.19429275, 11304.8526285 , 40780.25244265, 11172.6593025 ,
       39593.7242357 ,  1370.838161  , 38129.6047598 ,  5924.9600722 ,
       12977.16241405,  8398.5917251 , 38744.4237462 ,  5555.17387025,
       10599.513584  ,  9935.1018871 ,  4279.9896597 , 17068.12016695,
       11835.567293  , 10610.2144871 , 14619.1956458 , 13470.38650175,
        7108.47309575,  4736.31970465,  8715.6383086 , 22415.95874555,
        5774.3535663 ,  1730.6577815 ,  2789.45786275, 45240.2958609 ,
       13097.12238765,  4679.94972655, 15609.1230169 , 15735.1141451 ,
       33164.58666065,  7165.1045108 ,  6085.8762164 ,  8964.1595914 ,
        4971.08700745,  4498.6244503 , 19565.0175945 , 17686.23196425,
       13749.6117265 ,  2994.6997422 ,  4333.7581834 , 10640.3731411 ,
       11108.2040091 , 17108.96762175, 20123.2390995 ,  7586.72880785,
       17696.34059275,  3097.57218925,  6549.53308825,  9845.1999358 ,
       14384.4102292 ,  3060.43605805,  8152.2198828 , 44606.34018125,
        4790.35435345,  5808.2320643 ,  2296.241738  , 12213.8251771 ,
        4170.0131746 , 12070.165283  , 43210.1445202 , 19673.0799067 ,
        9068.56146   , 41067.47045165, 16087.93464515, 13237.6307038 ,
       10085.4694047 ,  6622.3309957 , 28929.82453275,  4779.02252395,
       15179.0255883 ,  2923.66167315, 17570.68444735,  3556.1438088 ,
       26860.8455007 ,  7491.75560335,  4830.2873807 , 39542.12319305,
        6712.41755815,  5380.39995975, 34700.5757102 ,  4809.14470395,
       10418.1658443 ,  4361.16304625, 11335.7583687 ,  3919.26058875,
        6873.46085315,  8038.64797235, 43411.4834423 , 11127.50950175,
       35459.09188375, 36835.77453675,  5830.3247055 ,  8432.97093575,
        2001.2071018 ,  5156.875352  ,  4803.4340429 , 10178.9669945 ,
       45605.98201265, 11285.196193  ,  2306.10224225, 12903.1119399 ,
        2176.62960575, 14015.75981745, 10142.1360399 ,  2978.70551275,
        4357.36131285, 35280.35826475,  7026.72611725,  2463.7699295 ,
       38808.1941616 , 11814.09018505, 43612.63980805, 11598.752123  ,
        6296.86953855,  2638.91276675,  2212.6451945 , 13062.7489287 ,
        6081.75768095,  2048.5267865 , 10904.465149  ,  7082.28036975,
        7402.7038621 ,  6362.0467011 ,  8007.84446755, 41191.3624525 ,
        4806.0013297 , 16181.5384214 ,  6772.2077385 , 15874.47061685,
       11465.4250487 ,  8162.22241515, 18854.8265181 , 13151.82360885,
       17558.0477086 , 18738.4348284 ])

In [113]:
#Evalution Metrics
from sklearn.metrics import r2_score
r2 = r2_score(Y_test,test_pred)
r2
# r2 should be nearer to 1 here it is not performing good for this dataset

0.8767333957945145