In [1]:
# import lib
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('Preplacement.csv')
dataset

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR,status_Placed
0,1,67,91,58,55,58,270000,1,1,1,1,0,0,1,0,1,1
1,2,79,78,77,86,66,200000,1,0,1,0,1,0,1,1,0,1
2,3,65,68,64,75,57,250000,1,0,0,0,0,0,0,0,0,1
3,4,56,52,52,66,59,0,1,0,0,0,1,0,1,0,1,0
4,5,85,73,73,96,55,425000,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,80,82,77,91,74,400000,1,1,1,1,0,0,0,0,0,1
211,212,58,60,72,74,53,275000,1,1,1,0,1,0,1,0,0,1
212,213,67,67,73,59,69,295000,1,1,1,1,0,0,0,1,0,1
213,214,74,66,58,70,60,204000,0,1,1,1,0,0,0,0,1,1
214,215,62,58,53,89,60,0,1,0,1,0,1,0,0,0,1,0

In [3]:
indep_X =  dataset.drop(['salary','sl_no'],axis =1)
dep_Y = dataset['salary']

In [4]:
# spliting the input and output, to perform std scaler
def split_scaler(indep_X,dep_Y):
    from sklearn.model_selection import train_test_split
    from sklearn.preprocessing import StandardScaler
    X_train,X_test,Y_train,Y_test = train_test_split(indep_X,dep_Y,test_size = 0.25,random_state = 0)
    sc= StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    return X_train,X_test,Y_train,Y_test

In [5]:
# to apply pca

def lda(X_train,Y_train,n):
    from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
    lda = LDA(n_components = n)
    X_train = lda.fit_transform(X_train,Y_train)
    return lda,X_train

In [6]:
# r2 
# r2 for regression
def r2_score_pred(regressor,X_test):
    from sklearn.metrics import r2_score
    test_pred = regressor.predict(X_test)
    r2 = r2_score(Y_test,test_pred)
    return r2

In [7]:
# linear regression
def linear(X_train,X_test,Y_train):
    from sklearn.linear_model import LinearRegression
    regressor = LinearRegression()
    regressor.fit(X_train,Y_train)
    r2 = r2_score_pred(regressor, X_test)
    return r2

In [8]:
# svm
def svm(X_train,X_test,Y_train):
    from sklearn.svm import SVR
    regressor = SVR(kernel = 'linear')
    regressor.fit(X_train,Y_train)
    r2 = r2_score_pred(regressor,X_test)
    return r2

In [9]:
# decision
def dt(X_train,X_test,Y_train):
    from sklearn.tree import DecisionTreeRegressor
    regressor = DecisionTreeRegressor(criterion = 'squared_error',random_state =0)
    regressor.fit(X_train,Y_train)
    r2 = r2_score_pred(regressor,X_test)
    return r2

In [10]:
# random
def rf(X_train,X_test,Y_train):
    from sklearn.ensemble import RandomForestRegressor
    regressor = RandomForestRegressor(n_estimators = 20,random_state =0)
    regressor.fit(X_train,Y_train)
    r2 = r2_score_pred(regressor,X_test)
    return r2

In [17]:
# table
def lda_regression(r2score_lin,r2score_svml,r2score_dt,r2score_rf):
    df = pd.DataFrame(index = ['PCA = 14'],columns = ['Linear','SVM_L','DecisionTree','RandomForest'])
    for number,idex in enumerate(df.index):
        df['Linear'][idex] = r2score_lin[number]
        df['SVM_L'][idex] = r2score_svml[number]
        df['DecisionTree'][idex] = r2score_dt[number]
        df['RandomForest'][idex] = r2score_rf[number]
    return df

In [18]:
lda_ = lda(indep_X,dep_Y,14)
r2score_lin =[]
r2score_svml =[]
r2score_dt =[]
r2score_rf =[]

In [19]:
X_train,X_test,Y_train,Y_test = split_scaler(indep_X,dep_Y)

r2_lin = linear(X_train,X_test,Y_train)
r2score_lin.append(r2_lin)

r2_svml = svm(X_train,X_test,Y_train)
r2score_svml.append(r2_svml)

r2_dt = dt(X_train,X_test,Y_train)
r2score_dt.append(r2_dt)

r2_rf = rf(X_train,X_test,Y_train)
r2score_rf.append(r2_rf)

In [20]:
result = lda_regression(r2score_lin,r2score_svml,r2score_dt,r2score_rf)

In [21]:
result

            Linear     SVM_L DecisionTree RandomForest
PCA = 14  0.829253 -0.233822    -0.119594     0.740689

In [16]:
result

           Linear     SVM_L DecisionTree RandomForest
PCA = 6  0.829253 -0.233822    -0.119594     0.740689