In [1]:
# import lib
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('Placement.csv')

In [3]:
df = dataset
df.isna().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [4]:
df['salary'].fillna(0,inplace =True)
df

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [5]:
df= pd.get_dummies(df,drop_first =True)
df =df.astype(int)
df

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR,status_Placed
0,1,67,91,58,55,58,270000,1,1,1,1,0,0,1,0,1,1
1,2,79,78,77,86,66,200000,1,0,1,0,1,0,1,1,0,1
2,3,65,68,64,75,57,250000,1,0,0,0,0,0,0,0,0,1
3,4,56,52,52,66,59,0,1,0,0,0,1,0,1,0,1,0
4,5,85,73,73,96,55,425000,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,80,82,77,91,74,400000,1,1,1,1,0,0,0,0,0,1
211,212,58,60,72,74,53,275000,1,1,1,0,1,0,1,0,0,1
212,213,67,67,73,59,69,295000,1,1,1,1,0,0,0,1,0,1
213,214,74,66,58,70,60,204000,0,1,1,1,0,0,0,0,1,1
214,215,62,58,53,89,60,0,1,0,1,0,1,0,0,0,1,0

In [6]:
indep_X =  df.drop(['salary','sl_no'],axis =1)
dep_Y = df['salary']

In [7]:
# print(indep_X)

In [8]:
# dep_Y

In [83]:
# spliting the input and output, to perform std scaler
def split_scaler(indep_X,dep_Y):
    from sklearn.model_selection import train_test_split
    from sklearn.preprocessing import StandardScaler
    X_train,X_test,Y_train,Y_test = train_test_split(indep_X,dep_Y,test_size = 0.25,random_state = 0)
    sc= StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    return X_train,Y_train,X_test,Y_test

In [84]:
# to apply pca

def pca(indep_X,n):
    from sklearn.decomposition import PCA
    pca = PCA(n_components = n)
    X_train = pca.fit_transform(indep_X)
    return pca,X_train

In [85]:
# confusion matrix
def cm_pred(classifier,X_test):
    test_pred = classifier.predict(X_test)
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(Y_test,test_pred)
    from sklearn.metrics import accuracy_score
    accuracy = accuracy_score(Y_test,test_pred)
    return cm,accuracy,classifier

In [86]:
# logistics regression

def log(X_train,Y_train,X_test):
    from sklearn.linear_model import LogisticRegression
    classifier = LogisticRegression(random_state = 0)
    classifier.fit(X_train, Y_train)
    cm,accuracy,classifier = cm_pred(classifier,X_test)
    return cm,accuracy,classifier

In [87]:
# svm classfier

def svm_linear(X_train,Y_train,X_test):
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'linear',random_state =0)
    classifier.fit(X_train, Y_train)
    cm,accuracy,classifier = cm_pred(classifier,X_test)
    return cm,accuracy,classifier

In [88]:
# svm classfier

def svm_nonlinear(X_train,Y_train,X_test):
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'rbf',random_state =0)
    classifier.fit(X_train, Y_train)
    cm,accuracy,classifier = cm_pred(classifier,X_test)
    return cm,accuracy,classifier

In [89]:
# Navie Bayes classfier

def navie(X_train,Y_train,X_test):
    from sklearn.naive_bayes import GaussianNB
    classifier = GaussianNB()
    classifier.fit(X_train, Y_train)
    cm,accuracy,classifier = cm_pred(classifier,X_test)
    return cm,accuracy,classifier

In [90]:
# knn classfier

def knn(X_train,Y_train,X_test):
    from sklearn.neighbors import KNeighborsClassifier
    classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
    classifier.fit(X_train, Y_train)
    cm,accuracy,classifier = cm_pred(classifier,X_test)
    return cm,accuracy,classifier

In [91]:
# random forest classfier

def random(X_train,Y_train,X_test):
    from sklearn.ensemble import RandomForestClassifier
    classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    classifier.fit(X_train, Y_train)
    cm,accuracy,classifier = cm_pred(classifier,X_test)
    return cm,accuracy,classifier

In [92]:
# decision tree classfier

def decision(X_train,Y_train,X_test):
    from sklearn.tree import DecisionTreeClassifier
    classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    classifier.fit(X_train, Y_train)
    cm,accuracy,classifier = cm_pred(classifier,X_test)
    return cm,accuracy,classifier

In [97]:
# to create df

def pca_df(acclog,accsvml,accsvmnl,accnb,accknn,accrf,accdt):
    df2 = pd.DataFrame(index =['PCA = 12'],columns =['Logistic','SVMLinear','SVMNL','NavieBayes','KNN','RandomForest','DecisionTree'])
    for number,index in enumerate(df2.index):
        df2['Logistic'][index]=acclog[number]
        df2['SVMLinear'][index]=accsvml[number]
        df2['SVMNL'][index]=accsvmnl[number]
        df2['NavieBayes'][index]=accnb[number]
        df2['KNN'][index]=accknn[number]
        df2['RandomForest'][index]=accrf[number]
        df2['DecisionTree'][index]=accdt[number]
    return df2

In [98]:
pca_= pca(indep_X,12)
acclog=[]
accsvml =[]
accsvmnl =[]
accnb =[]
accknn =[]
accrf =[]
accdt =[]

In [99]:
X_train,X_test,Y_train,Y_test = split_scaler(indep_X,dep_Y)

cm,accuracy,classifier= log(X_train,X_test,Y_train)
acclog.append(accuracy)

cm,accuracy,classifier = svm_linear(X_train,X_test,Y_train)
accsvml.append(accuracy)

cm,accuracy,classifier= svm_nonlinear(X_train,X_test,Y_train)
accsvmnl.append(accuracy)

cm,accuracy,classifier= navie(X_train,X_test,Y_train)
accnb.append(accuracy)

cm,accuracy,classifier = knn(X_train,X_test,Y_train)
accknn.append(accuracy)

cm,accuracy,classifier = random(X_train,X_test,Y_train)
accrf.append(accuracy)

cm,accuracy,classifier= decision(X_train,X_test,Y_train)
accdt.append(accuracy)

result = pca_df(acclog,accsvml,accsvmnl,accnb,accknn,accrf,accdt)

In [96]:
result

,Logistic,SVMLinear,SVMNL,NavieBayes,KNN,RandomForest,DecisionTree
PCA = 5,0.351852,0.333333,0.37037,0.333333,0.296296,0.314815,0.333333

In [100]:
result

,Logistic,SVMLinear,SVMNL,NavieBayes,KNN,RandomForest,DecisionTree
PCA = 12,0.351852,0.333333,0.37037,0.333333,0.296296,0.314815,0.333333

In [38]:
result

,Logistic,SVMLinear,SVMNL,NavieBayes,KNN,RandomForest,DecisionTree
PCA = 7,0.351852,0.333333,0.37037,0.333333,0.296296,0.314815,0.333333

In [42]:
result

,Logistic,SVMLinear,SVMNL,NavieBayes,KNN,RandomForest,DecisionTree
PCA = 5,0.351852,0.333333,0.37037,0.333333,0.296296,0.314815,0.333333

In [26]:
result

,Logistic,SVMLinear,SVMNL,NavieBayes,KNN,RandomForest,DecisionTree
PCA = 15,0.351852,0.333333,0.37037,0.333333,0.296296,0.314815,0.333333

In [101]:

from sklearn.decomposition import PCA
import pandas as pd
from sklearn.model_selection import train_test_split 
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt
def pca(indep_X,n):
    from sklearn.decomposition import PCA
    pca = PCA(n_components=n)
    X_train = pca.fit_transform(indep_X)
    return pca, X_train
def split_scalar(indep_X,dep_Y):
        X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test
def cm_predition (classifier,X_test):
    y_pred = classifier.predict(X_test)
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)
    from sklearn.metrics import accuracy_score
    accuracy= accuracy_score(y_test, y_pred)
    return cm,accuracy,classifier
def logistic(X_train, y_train,X_test):
    from sklearn.linear_model import LogisticRegression
    classifier = LogisticRegression(random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return cm,accuracy,classifier

def svm_linear(X_train,y_train,X_test):
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'linear', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier

def svm_NL(X_train,y_train,X_test):
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'rbf', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier

def Navie(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.naive_bayes import GaussianNB
    classifier = GaussianNB()
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier


def knn(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.neighbors import KNeighborsClassifier
    classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier

def Decision(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.tree import DecisionTreeClassifier
    classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier


def random(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.ensemble import RandomForestClassifier
    classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier
def pca_classifier(acclog,accsvmlin,accsvmnl,accnav,accknn,accdec,accrand):
    dataframe=pd.DataFrame(index=['PCA n=2'],columns=['Logistic','SVMlin','SVMNL','Navie','KNN','DT','RF'])
    for number,index in enumerate(dataframe.index):
        dataframe['Logistic'][index]=acclog[number]
        dataframe['SVMlin'][index]=accsvmlin[number]
        dataframe['SVMNL'][index]=accsvmnl[number]
        dataframe['Navie'][index]=accnav[number]
        dataframe['KNN'][index]=accknn[number]
        dataframe['DT'][index]=accdec[number]
        dataframe['RF'][index]=accrand[number]
    return dataframe
    
dataset1 = pd.read_csv("Placement.csv", index_col=None)
df2 = dataset1
df2 = pd.get_dummies(df2, drop_first=True)

indep_X = df2.drop([s', 'Status_Low Charge', 'Status_Weak Battery'], axis=1)
dep_Y = df2['Maintenance Required_Yes']
pca,PCA= pca(indep_X,2)
acclog=[]
accsvmlin=[]
accsvmnl=[]
accnav=[]
accknn=[]
accdec=[]
accrand=[]
X_train, X_test, y_train, y_test=split_scalar(PCA,dep_Y)   
    
        
cm,accuracy,classifier=logistic(X_train,y_train,X_test)
acclog.append(accuracy)

cm,accuracy,classifier=svm_linear(X_train,y_train,X_test)
accsvmlin.append(accuracy)

cm,accuracy,classifier=svm_NL(X_train,y_train,X_test)
accsvmnl.append(accuracy)

cm,accuracy,classifier=Navie(X_train,y_train,X_test)
accnav.append(accuracy)

cm,accuracy,classifier=knn(X_train,y_train,X_test)
accknn.append(accuracy)

cm,accuracy,classifier=Decision(X_train,y_train,X_test)
accdec.append(accuracy)

cm,accuracy,classifier=random(X_train,y_train,X_test)
accrand.append(accuracy)
    
result=pca_classifier(acclog,accsvmlin,accsvmnl,accnav,accknn,accdec,accrand)

result #value n=

KeyError: "['Maintenance Required_Yes', 'Charge Needed_Yes', 'Status_Low Charge', 'Status_Weak Battery'] not found in axis"