In [1]:
# importing libray
import pandas as pd
import pickle
import numpy as np
import matplotlib.pyplot as plt
import time

In [2]:
# creating func for k best
def selectkbest(indep_X,dep_Y,n):
    from sklearn.feature_selection import SelectKBest,chi2
    test = SelectKBest(score_func = chi2, k =n)
    fit1= test.fit(indep_X, dep_Y)
    selectk_features = fit1.transform(indep_X)
    return selectk_features

In [3]:
#function for spliting input output and stdarization
def split_scalar(indep_X,dep_Y):
    from sklearn.preprocessing import StandardScaler
    from sklearn.model_selection import train_test_split
    X_train,X_test,Y_train,Y_test = train_test_split(indep_X,dep_Y,test_size=0.25, random_state =0)
    sc = StandardScaler()
    X_train=sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    return(X_train,X_test,Y_train,Y_test)

In [4]:
def cm_pred(classifier,X_test):
    from sklearn.metrics import confusion_matrix
    from sklearn.metrics import accuracy_score
    from sklearn.metrics import classification_report
    test_pred = classifier.predict(X_test)
    cm = confusion_matrix(Y_test, test_pred)
    accuracy = accuracy_score(Y_test,test_pred)
    report = classification_report(Y_test,test_pred)
    return classifier, accuracy, report, X_test,Y_test,cm

In [5]:
def log(X_train,Y_train,X_test):
    from sklearn.linear_model import LogisticRegression
    classifier = LogisticRegression(random_state=0)
    classifier.fit(X_train,Y_train)
    classifier, accuracy, report, X_test,Y_test,cm = cm_pred(classifier, X_test)
    return classifier,accuracy, report,X_test,Y_test,cm

In [6]:
def svm(X_train,Y_train,X_test):
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'rbf',random_state=0)
    classifier.fit(X_train,Y_train)
    classifier, accuracy, report, X_test,Y_test,cm = cm_pred(classifier, X_test)
    return classifier,accuracy, report,X_test,Y_test,cm

In [7]:
def Navie(X_train,Y_train,X_test):
    from sklearn.naive_bayes import GaussianNB
    classifier = GaussianNB()
    classifier.fit(X_train,Y_train)
    classifier, accuracy, report, X_test,Y_test,cm = cm_pred(classifier, X_test)
    return classifier, accuracy, report,X_test,Y_test,cm

In [8]:
def knn(X_train,Y_train,X_test):
    from sklearn.neighbors import KNeighborsClassifier
    classifier = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)
    classifier.fit(X_train,Y_train)
    classifier, accuracy, report, X_test,Y_test,cm = cm_pred(classifier, X_test)
    return classifier, accuracy, report,X_test,Y_test,cm

In [9]:
def decision(X_train,Y_train,X_test):
    from sklearn.tree import DecisionTreeClassifier
    classifier = DecisionTreeClassifier(criterion='entropy',random_state =0)
    classifier.fit(X_train,Y_train)
    classifier, accuracy, report, X_test,test_pred,cm = cm_pred(classifier, X_test)
    return classifier, accuracy, report,X_test,test_pred,cm

In [20]:
def random(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.ensemble import RandomForestClassifier
        classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, Y_train)
        classifier,Accuracy,report,X_test,Y_test,cm=cm_pred(classifier,X_test)
        return  classifier,Accuracy,report,X_test,Y_test,cm

In [31]:
def select_K_classification(acclog,accsvm,accnavie,accknn,accdt,accrf):
    df = pd.DataFrame(index=['ChiSquare'],columns =['Logistic','SVM','Navie','KNN','DecisionTree','RandomForest'])
    for number,idex in enumerate(df.index):
        df['Logistic'][idex]=acclog[number]
        df['SVM'][idex]=accsvm[number]
        df['Navie'][idex]=accnavie[number]
        df['KNN'][idex]=accknn[number]
        df['DecisionTree'][idex]=accdt[number]
        df['RandomForest'][idex]=accrf[number]
    return df

In [32]:
dataset =pd.read_csv('CKD.csv',index_col=None)

In [33]:
DF = dataset

In [34]:
DF= pd.get_dummies(DF,drop_first =True)

In [35]:
indep_X = DF.drop('classification_yes',axis =1)

In [36]:
dep_Y= DF['classification_yes']

In [41]:
indep_X

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,True,False,False,False,False,False,False,True,True,False
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,True,True,False,False,False,False,False,True,False,False
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,True,True,False,False,False,False,False,True,False,False
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,True,True,False,False,False,False,False,True,False,True
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,True,True,False,False,False,False,False,True,False,False
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,True,True,False,False,True,True,False,True,False,True
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,True,True,False,False,True,True,False,False,False,False
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,True,True,False,False,True,True,False,True,False,True
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,True,True,False,False,False,False,False,True,False,False

In [37]:
kbest = selectkbest(indep_X,dep_Y,7)
acclog =[]
accsvm =[]
accnavie =[]
accknn =[]
accdt =[]
accrf=[]

In [38]:
# X_train,Y_train,Y_train,Y_test = split_scalar(kbest,dep_Y)
X_train, X_test, Y_train, Y_test=split_scalar(kbest,dep_Y)

In [39]:
classifier,accuracy,report,X_test,Y_test,cm=log(X_train,Y_train,X_test)
acclog.append(accuracy)
classifier,accuracy,report,X_test,Y_test,cm=svm(X_train,Y_train,X_test)
accsvm.append(accuracy)
classifier,accuracy,report,X_test,Y_test,cm=Navie(X_train,Y_train,X_test)
accnavie.append(accuracy)
classifier,accuracy,report,X_test,Y_test,cm=knn(X_train,Y_train,X_test)
accknn.append(accuracy)
classifier,accuracy,report,X_test,Y_test,cm=decision(X_train,Y_train,X_test)
accdt.append(accuracy)
classifier,accuracy,report,X_test,Y_test,cm=random(X_train,Y_train,X_test)
accrf.append(accuracy)

In [40]:
result =select_K_classification(acclog,accsvm,accnavie,accknn,accdt,accrf)
result

          Logistic   SVM Navie   KNN DecisionTree RandomForest
ChiSquare     0.97  0.97  0.91  0.97         0.98         0.97