In [1]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-4.3.0-py3-none-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy in c:\anaconda3\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in c:\anaconda3\lib\site-packages (from lightgbm) (1.11.4)
Downloading lightgbm-4.3.0-py3-none-win_amd64.whl (1.3 MB)
   ---------------------------------------- 0.0/1.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.3 MB ? eta -:--:--
    --------------------------------------- 0.0/1.3 MB 330.3 kB/s eta 0:00:04
   -- ------------------------------------- 0.1/1.3 MB 657.6 kB/s eta 0:00:02
   ------ --------------------------------- 0.2/1.3 MB 1.2 MB/s eta 0:00:01
   ---------- ----------------------------- 0.3/1.3 MB 1.6 MB/s eta 0:00:01
   ------------ --------------------------- 0.4/1.3 MB 1.9 MB/s eta 0:00:01
   --------------- ------------------------ 0.5/1.3 MB 2.0 MB/s eta 0:00:01
   --------------------- ------------------ 0.7/1.3 MB 2.2 MB/s eta 0:00:01
   -------------------------- ------------- 0.9/1.3 MB 2.3 MB/s eta 0:00:01
   ------------------------------ --------- 1.0/1.3 MB 2.5 MB/s eta 0:00:01
   ------------------------------------ --- 1.2/1.3 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 1.3/1.3 MB 2.7 MB/s eta 0:00:00
Installing collected packages: lightgbm
Successfully installed lightgbm-4.3.0

In [4]:
#import libraries
import pandas as pd

In [5]:
#load and read the dataset
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
# to find number of rows and col's
no_of_rows_and_col=dataset.shape
print("Number of rows and columns:",no_of_rows_and_col)
# Here the number of rows = 1338 and the columns = 6

Number of rows and columns: (1338, 6)

In [7]:
#to list the col names
dataset.columns
# here 'age', 'sex', 'bmi', 'children', 'smoker' - are input
#'charges' - are output

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [8]:
# preprocessing to convert categorical value to numerical 

# dataset.sex[dataset.sex == 'male']=1
# dataset.sex[dataset.sex == 'female']=2

# dataset.smoker[dataset.smoker == 'yes']=1
# dataset.smoker[dataset.smoker == 'no']=0
# dataset

dataset = pd.get_dummies(dataset)
dataset = dataset.astype(int)
dataset

      age  bmi  children  charges  sex_female  sex_male  smoker_no  smoker_yes
0      19   27         0    16884           1         0          0           1
1      18   33         1     1725           0         1          1           0
2      28   33         3     4449           0         1          1           0
3      33   22         0    21984           0         1          1           0
4      32   28         0     3866           0         1          1           0
...   ...  ...       ...      ...         ...       ...        ...         ...
1333   50   30         3    10600           0         1          1           0
1334   18   31         0     2205           1         0          1           0
1335   18   36         0     1629           1         0          1           0
1336   21   25         0     2007           1         0          1           0
1337   61   29         0    29141           1         0          0           1

[1338 rows x 8 columns]

In [12]:
# assign input and output value
independent = dataset[['age', 'sex_female','sex_male', 'bmi', 'children', 'smoker_no','smoker_yes']]
print(independent)
dependent = dataset[['charges']]
print(dependent)

      age  sex_female  sex_male  bmi  children  smoker_no  smoker_yes
0      19           1         0   27         0          0           1
1      18           0         1   33         1          1           0
2      28           0         1   33         3          1           0
3      33           0         1   22         0          1           0
4      32           0         1   28         0          1           0
...   ...         ...       ...  ...       ...        ...         ...
1333   50           0         1   30         3          1           0
1334   18           1         0   31         0          1           0
1335   18           1         0   36         0          1           0
1336   21           1         0   25         0          1           0
1337   61           1         0   29         0          0           1

[1338 rows x 7 columns]
      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [13]:
# spliting training and testing data

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
X_train,X_test,Y_train,Y_test

(      age  sex_female  sex_male  bmi  children  smoker_no  smoker_yes
 1163   18           1         0   28         0          1           0
 196    39           1         0   32         0          1           0
 438    52           1         0   46         5          1           0
 183    44           1         0   26         0          1           0
 1298   33           0         1   27         2          1           0
 ...   ...         ...       ...  ...       ...        ...         ...
 763    27           0         1   26         0          1           0
 835    42           0         1   35         2          1           0
 1216   40           0         1   25         0          1           0
 559    19           0         1   35         0          1           0
 684    33           1         0   18         1          1           0

 [936 rows x 7 columns],
       age  sex_female  sex_male  bmi  children  smoker_no  smoker_yes
 578    52           0         1   30         1          1           0
 610    47           1         0   29         1          1           0
 569    48           0         1   40         2          0           1
 1034   61           0         1   38         0          1           0
 198    51           1         0   18         0          1           0
 ...   ...         ...       ...  ...       ...        ...         ...
 1261   28           0         1   37         1          1           0
 494    21           0         1   25         4          0           1
 97     55           0         1   38         0          1           0
 418    64           0         1   39         1          1           0
 920    62           1         0   25         0          1           0

 [402 rows x 7 columns],
       charges
 1163     2200
 196      5649
 438     12592
 183      7419
 1298     5261
 ...       ...
 763      3070
 835      7160
 1216     5415
 559      1646
 684      4766

 [936 rows x 1 columns],
       charges
 578      9724
 610      8547
 569     45702
 1034    12950
 198      9644
 ...       ...
 1261     3277
 494     17942
 97      10226
 418     14418
 920     13451

 [402 rows x 1 columns])

In [14]:
import lightgbm as lgb
from lightgbm import LGBMRegressor

In [15]:
regressor=LGBMRegressor()
regressor
# from sklearn.svm import SVR
# regressor= SVR(C=1.0, epsilon=0.2)
regressor.fit(X_train,Y_train)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001092 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 96
[LightGBM] [Info] Number of data points in the train set: 936, number of used features: 7
[LightGBM] [Info] Start training from score 13232.425214

LGBMRegressor()

In [16]:
regressor=regressor.fit(X_train,Y_train)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000105 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 96
[LightGBM] [Info] Number of data points in the train set: 936, number of used features: 7
[LightGBM] [Info] Start training from score 13232.425214

In [17]:
# testing
test_pred= regressor.predict(X_test)
test_pred

array([ 9628.6262265 , 10086.47904452, 43330.25568184, 13435.66881719,
        9368.60683438,  8712.58978724,  2008.02261139, 11596.44414701,
        7649.19788197,  5154.47768365,  6939.99718061, 17093.14900976,
       10680.84179261,  8497.49747534, 19375.56107925, 13239.51528551,
       15052.60628201,  3530.65030574,  8732.95399988, 33506.81811211,
       22620.23264114, 16334.26023808, 11541.38489988, 26582.87225964,
        4468.28469796,  5511.39234992,  4976.13019465,  7690.8834149 ,
        2678.04404621, 10766.55388368,  8626.85581879, 50980.2896434 ,
       16841.21808133, 14714.04745096, 17650.29430729,  4010.55176082,
        8283.46419707, 36799.49550954, 38567.91894585,  3368.76646534,
        6528.88491315,  5316.03042667, 22538.47300012, 47042.90455911,
       37065.03106682,  3737.55041677, 15318.78032297,  7035.69028121,
        5067.86442281, 12333.63042596,  1090.12047636,  3221.54334081,
       24660.21579421, 47278.54142022, 12856.093612  ,  7085.35207445,
        2338.99997745, 14184.4657842 ,  9465.93307074, 18728.86146858,
        2282.81884218, 47240.68335191, 16916.20244653, 17368.68187143,
       11782.91369162,  8832.00773389, 33928.97194002, 39762.7044895 ,
        4369.38231843,  9497.66164681, 16064.33310594, 11263.16545297,
       17994.3860215 , 15360.64130458, 16072.83789052, 15447.84294261,
       10575.79184951, 11491.60964878, 18338.36976455, 48674.78798262,
       10559.81776184, 49208.62269502,  3551.19297925,  9861.36894   ,
       41535.84184306, 18506.49266755,  3378.39491985,  1597.76430327,
       15000.99402588, 39814.62503704,  5608.7207297 , 13087.92563391,
        2516.30170212, 12863.09605876,  8317.31908435,  2838.07150879,
       46848.38096708, 43293.81448537,  4560.90348572,  9912.45963702,
        3147.2106482 ,  7404.49144099,  8907.29145092, 38635.32036545,
       28218.84356897,  5256.95021368,  9972.87853368,  3235.82106503,
       13036.69286298, 46284.85963858, 12343.3686981 ,  3937.08755271,
        9893.88108039, 34102.17859534, 50300.96444633,  6799.98583853,
        2100.68093833, 14184.4657842 , 21503.80579929,  9079.46714804,
       43663.20425359, 11508.22133004, 12806.8570133 ,  5963.28514954,
       12275.52354211,  6327.87485279, 24450.59945409, 25868.39547541,
       48954.85251013,  3002.73882143, 12657.98960465,  5512.28217419,
        5851.69110393, 10031.11114616, 41945.04225033, 37867.1273953 ,
       23707.94588647, 14037.27538359, 22156.67937689,  8268.8862141 ,
        2939.23484277, 14001.50093734, 11271.54536064, 12109.03506217,
        6634.36283365, 13538.01000509, 20715.23456188,  9845.48044406,
         934.60823584, 13144.50687345,  6637.40177094, 40384.33412945,
        8409.58411745,  5186.50110235,  3882.51302696,  7166.38664228,
        4553.61364961,  4283.21721735, 13239.51528551,  9388.17478752,
        7032.3729048 , 12940.62724519, 14898.41734581,  7391.36884182,
        6276.49327034,  6515.43860699, 16181.40251717,  6039.06701998,
        4567.70500893,  3045.73877868, 10827.28728317,  7042.02434166,
       11034.18604566,  2779.18380147,  9548.20467613,  6723.58384115,
        5101.36584029,  6779.70778851, 25815.23737772,  1342.88248075,
       16716.94699201,  7048.86169449, 12483.1519266 ,  6788.16100145,
        7665.03831494, 28689.62021984,  3877.38336416,  4300.80359016,
       12112.50033159, 13780.6660285 , 43196.47390615,  8034.71642262,
        4874.00016341, 25758.48039197,  2343.80016151,  4223.98095879,
        8771.48921753,  7064.97682333,  7645.67807864,  4833.10746878,
       12834.90598989, 46876.25076609, 18239.9629681 , 18526.90055111,
       10356.86711069, 43020.89220819,  4478.34320846, 10561.74437484,
       10003.30608766,  1317.15754421,  7949.1738763 , 14296.86596914,
        8950.71220471,  3242.83415602,  6985.84789029,  5722.56432305,
        5852.87894063,  8841.59073284, 14281.36062725,  7035.6785548 ,
       10871.76627649,  7934.7311617 , 12781.59968719,  6169.02344834,
       12491.67436132, 15399.04999003, 19409.52629087, 11887.24467239,
        6158.54252779,   917.88281341,  5407.16584006,  7149.09636651,
       13445.66392968,  6474.01873346,  6417.08661133,  7184.41922053,
       14461.5335599 , 35403.15079049,  6318.94804024, 11256.8188052 ,
        6288.89366663, 38821.82617706,  9172.09918577,  7214.2479488 ,
       10240.37565774,  8210.0450705 ,  4217.70570706,  9060.45903857,
        4471.09447322,  6546.15879584, 20440.43497111, 45311.8773783 ,
        4344.06320093,  3350.81021791,  3308.53545289,  1494.91162634,
        9755.6805129 ,  2482.50173872,  6613.00479052,  7743.16988474,
        7890.07392616, 25094.40092173, 45494.16047251, 17119.27125648,
        6985.84789029, 10410.34345754, 44224.3811393 ,  9085.51266731,
       39150.7359393 ,  2478.47645212, 38312.57856043,  7816.1534788 ,
       12696.5355714 ,  6364.4521304 , 40421.48369664,  5828.41745295,
        8974.3293595 , 10847.68104134,  5507.38116307, 18069.95817512,
       12205.3521761 , 10309.20495443, 15274.97303877,  5550.16284992,
        7056.32918626,  3187.30855459,  8925.20627463, 20970.27273292,
        2917.23610127,   816.70224456,  1963.53972641, 49557.53892033,
       11544.68608177,  3103.55259821, 18489.39428934, 13872.22176314,
       34136.68945397,  8341.26253373,  5078.35078703,  7567.48545311,
        4981.80009958,  5218.81125918, 16978.56531556, 16729.05512219,
       15409.59278702,  1515.78960104,  1889.87904803, 13140.53673562,
       10213.29134171, 16270.29916206, 21549.59488925, 10505.55231049,
       16467.25605152,  4811.06615413,  9866.94489855,  8317.31908435,
       15313.33284808,  1885.90746338,  9492.10485222, 47716.0589789 ,
        2692.94047286,  5830.65358   ,  2148.64304035, 13196.57517412,
        5737.0964473 , 11219.40220247, 46222.71669709, 18101.71104442,
        7366.00887374, 45050.30448612, 19480.21428169, 10657.83216167,
        7592.5889415 ,  3573.72193627, 27507.10874329,  3982.86870631,
       15371.04457359,  2814.06499364, 16511.37046241,  4325.02069068,
       24275.53967522,  9951.03052572,  5722.56432305, 42646.18690308,
        6476.69466361,  4467.31377556, 27535.26931859,  4981.80009958,
       11944.49427208,  2966.5161458 , 12312.16470912,  3663.77739914,
        5701.42001051,  6054.2602243 , 46374.21261268, 12337.05896882,
       37501.04006186, 37858.34707657,  6318.94804024, 10911.38040863,
        1497.69037189,  6276.10773025,  4140.12374822,  8388.98379304,
       47853.13321933, 10225.4615747 ,  2790.92319373, 12354.31822674,
        3324.60275505, 12480.12734068,  9828.12100542,  2031.37320007,
        5568.54892236, 35518.51555066,  5431.18264868,  2130.06930921,
       41569.40013842, 12727.91388684, 44461.83726881, 10112.34715968,
        7508.366148  ,  3936.37041219,  2275.92410692, 15770.67429614,
        6227.19321333,  4689.2890708 ,  9997.28459287,  7086.0798098 ,
        6642.02043872,  8034.71642262,  7374.90941916, 40474.30874851,
        5176.96243131, 14765.80731089,  4126.26791068, 12679.24145095,
       10087.28466891,  6974.73115251, 16941.8417808 , 11983.69187882,
       16616.51508935, 16966.65908864])

In [18]:
#Evalution Metrics
from sklearn.metrics import r2_score
r2 = r2_score(Y_test,test_pred)
r2
# r2 should be nearer to 1 here it is not performing good for this dataset

0.8653607758000829

In [19]:
# Saving the model
import pickle
filename= "LGBoost_insurance.sav"

In [20]:
pickle.dump(regressor,open(filename,'wb'))
load_model=pickle.load(open("LGBoost_insurance.sav",'rb'))

In [22]:
result=load_model.predict([[29,0,1,45,10000,0,1]])
result

array([42915.26865597])