In [1]:
!pip3 install xgboost

Requirement already satisfied: xgboost in c:\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\anaconda3\lib\site-packages (from xgboost) (1.11.4)

In [2]:
#import libraries
import pandas as pd

In [3]:
#load and read the dataset
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
# to find number of rows and col's
no_of_rows_and_col=dataset.shape
print("Number of rows and columns:",no_of_rows_and_col)
# Here the number of rows = 1338 and the columns = 6

Number of rows and columns: (1338, 6)

In [5]:
#to list the col names
dataset.columns
# here 'age', 'sex', 'bmi', 'children', 'smoker' - are input
#'charges' - are output

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [20]:
# preprocessing to convert categorical value to numerical 

# dataset.sex[dataset.sex == 'male']=1
# dataset.sex[dataset.sex == 'female']=2

# dataset.smoker[dataset.smoker == 'yes']=1
# dataset.smoker[dataset.smoker == 'no']=0
# dataset

dataset = pd.get_dummies(dataset)
dataset = dataset.astype(int)
dataset

      age  bmi  children  charges  sex_1  sex_2  smoker_0  smoker_1
0      19   27         0    16884      0      1         0         1
1      18   33         1     1725      1      0         1         0
2      28   33         3     4449      1      0         1         0
3      33   22         0    21984      1      0         1         0
4      32   28         0     3866      1      0         1         0
...   ...  ...       ...      ...    ...    ...       ...       ...
1333   50   30         3    10600      1      0         1         0
1334   18   31         0     2205      0      1         1         0
1335   18   36         0     1629      0      1         1         0
1336   21   25         0     2007      0      1         1         0
1337   61   29         0    29141      0      1         0         1

[1338 rows x 8 columns]

In [21]:
# assign input and output value
independent = dataset[['age', 'sex_1','sex_2', 'bmi', 'children', 'smoker_0','smoker_1']]
print(independent)
dependent = dataset[['charges']]
print(dependent)

      age  sex_1  sex_2  bmi  children  smoker_0  smoker_1
0      19      0      1   27         0         0         1
1      18      1      0   33         1         1         0
2      28      1      0   33         3         1         0
3      33      1      0   22         0         1         0
4      32      1      0   28         0         1         0
...   ...    ...    ...  ...       ...       ...       ...
1333   50      1      0   30         3         1         0
1334   18      0      1   31         0         1         0
1335   18      0      1   36         0         1         0
1336   21      0      1   25         0         1         0
1337   61      0      1   29         0         0         1

[1338 rows x 7 columns]
      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [22]:
# spliting training and testing data

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
X_train,X_test,Y_train,Y_test

(      age  sex_1  sex_2  bmi  children  smoker_0  smoker_1
 1163   18      0      1   28         0         1         0
 196    39      0      1   32         0         1         0
 438    52      0      1   46         5         1         0
 183    44      0      1   26         0         1         0
 1298   33      1      0   27         2         1         0
 ...   ...    ...    ...  ...       ...       ...       ...
 763    27      1      0   26         0         1         0
 835    42      1      0   35         2         1         0
 1216   40      1      0   25         0         1         0
 559    19      1      0   35         0         1         0
 684    33      0      1   18         1         1         0

 [936 rows x 7 columns],
       age  sex_1  sex_2  bmi  children  smoker_0  smoker_1
 578    52      1      0   30         1         1         0
 610    47      0      1   29         1         1         0
 569    48      1      0   40         2         0         1
 1034   61      1      0   38         0         1         0
 198    51      0      1   18         0         1         0
 ...   ...    ...    ...  ...       ...       ...       ...
 1261   28      1      0   37         1         1         0
 494    21      1      0   25         4         0         1
 97     55      1      0   38         0         1         0
 418    64      1      0   39         1         1         0
 920    62      0      1   25         0         1         0

 [402 rows x 7 columns],
       charges
 1163     2200
 196      5649
 438     12592
 183      7419
 1298     5261
 ...       ...
 763      3070
 835      7160
 1216     5415
 559      1646
 684      4766

 [936 rows x 1 columns],
       charges
 578      9724
 610      8547
 569     45702
 1034    12950
 198      9644
 ...       ...
 1261     3277
 494     17942
 97      10226
 418     14418
 920     13451

 [402 rows x 1 columns])

In [23]:
import xgboost as xgb
from xgboost import XGBRegressor
regressor = XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,max_depth = 5, alpha = 10, n_estimators = 10)
# from sklearn.svm import SVR
# regressor= SVR(C=1.0, epsilon=0.2)

In [24]:
regressor.fit(X_train,Y_train)

C:\Anaconda3\Lib\site-packages\xgboost\core.py:160: UserWarning: [16:04:31] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0b3782d1791676daf-1\xgboost\xgboost-ci-windows\src\objective\regression_obj.cu:209: reg:linear is now deprecated in favor of reg:squarederror.
  warnings.warn(smsg, UserWarning)

XGBRegressor(alpha=10, base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.3, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.1, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=5, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=10, n_jobs=None,
             num_parallel_tree=None, ...)

In [25]:
# testing
test_pred= regressor.predict(X_test)
test_pred

array([13832.025 , 12410.181 , 20963.637 , 14393.101 , 11709.014 ,
       10295.68  ,  8913.394 , 15416.585 , 11246.725 , 14888.517 ,
       10115.765 , 13839.681 , 13410.916 , 10374.985 , 15562.515 ,
       14132.964 , 15047.387 , 11314.768 , 10991.796 , 17193.908 ,
       19110.36  , 14037.277 , 13681.134 , 18844.904 , 11241.268 ,
       12164.814 ,  8855.91  , 11246.702 ,  9715.121 , 13370.009 ,
       11537.857 , 22452.152 , 16621.283 , 14042.577 , 14158.651 ,
        9968.298 , 14379.765 , 19139.977 , 17960.732 , 10396.136 ,
       10040.631 , 10386.933 , 15847.8545, 21254.37  , 16229.521 ,
        9558.095 , 14132.964 , 11569.273 ,  9885.712 , 12440.187 ,
       11060.191 ,  9733.672 , 17804.607 , 22581.951 , 12815.725 ,
       12465.7705, 12003.193 , 12483.997 , 13840.41  , 15770.751 ,
        9584.371 , 22479.355 , 16449.088 , 14565.869 , 14301.26  ,
       12093.591 , 17608.367 , 19661.96  ,  7646.7886, 13145.784 ,
       14532.256 , 12418.306 , 14253.335 , 16968.47  , 14277.448 ,
       14409.555 , 12805.613 , 13034.065 , 15634.282 , 24488.43  ,
       12269.239 , 20011.867 , 11241.268 , 14222.016 , 18434.264 ,
       15313.878 , 10633.327 , 11274.4375, 13783.458 , 19413.947 ,
       12445.409 , 12809.405 , 10763.947 , 12088.591 , 11768.678 ,
       11358.71  , 20987.207 , 20251.18  , 11703.596 , 13208.435 ,
       10618.543 , 13865.289 , 11795.369 , 20718.25  , 17014.543 ,
        9937.155 , 12677.299 , 11410.153 , 12578.918 , 22324.076 ,
       13173.381 , 12616.794 , 12316.352 , 16929.236 , 19978.13  ,
       11779.824 ,  8900.151 , 12483.997 , 16281.048 , 12541.143 ,
       20567.684 , 12106.661 , 13351.417 , 12772.2705, 11737.504 ,
       10264.336 , 17739.168 , 17560.27  , 23732.254 ,  8705.646 ,
       12088.591 , 10138.004 , 11158.468 , 12202.637 , 19840.623 ,
       18042.973 , 16043.795 , 13707.574 , 17513.232 ,  9652.164 ,
       10396.136 , 12809.405 , 13947.524 , 13563.334 , 10205.749 ,
       17693.762 , 16951.748 , 11312.661 ,  8835.363 , 12668.922 ,
       10574.042 , 18486.088 , 13080.295 , 10374.101 ,  8682.473 ,
       11034.023 , 12791.453 ,  9206.123 , 14132.964 , 13679.684 ,
       12122.23  , 12453.834 , 14277.448 , 12252.859 ,  9085.302 ,
       12709.481 , 13495.441 , 10585.2295, 10214.419 ,  8066.8237,
       12122.23  , 10420.662 , 13612.017 , 12601.376 , 11003.864 ,
       12709.481 , 10418.816 , 11109.12  , 19153.594 ,  9141.335 ,
       16077.015 , 11453.928 , 13180.611 , 11737.015 , 10327.043 ,
       19172.756 , 11241.268 ,  7895.865 , 15203.388 , 13046.442 ,
       19986.875 , 10214.871 , 10431.715 , 17745.666 , 12236.709 ,
       10269.361 , 10991.796 , 12851.576 , 12864.044 , 10335.489 ,
       13395.688 , 22064.45  , 14418.175 , 15739.268 , 13126.826 ,
       20679.008 , 10652.332 , 13486.319 , 13071.094 , 13364.211 ,
       12812.124 , 14500.08  , 10387.084 , 11060.191 , 11241.227 ,
       10399.622 , 11109.42  , 10415.315 , 14832.91  , 12089.516 ,
       12851.576 , 11537.857 , 12324.729 ,  9283.986 , 12808.762 ,
       17444.25  , 14779.091 , 12448.563 , 10740.537 ,  9904.694 ,
       10309.3125, 12229.013 , 16132.673 , 13590.8125,  9885.712 ,
       11453.905 , 12316.352 , 19011.39  , 10781.245 , 13301.724 ,
       10088.974 , 17219.36  , 12535.285 , 14814.055 , 14516.141 ,
       13326.133 ,  7646.7886, 12402.882 ,  8801.866 , 11109.12  ,
       15211.195 , 21249.588 , 12537.183 , 10442.735 ,  8913.394 ,
        8392.327 , 13056.448 ,  9373.502 , 11301.196 ,  9977.485 ,
       12288.134 , 17645.34  , 21175.695 , 14873.2   , 11241.227 ,
       12825.712 , 19335.1   , 12541.143 , 20499.564 , 10073.216 ,
       20746.396 , 12772.2705, 12800.385 ,  9903.209 , 21569.207 ,
       11888.313 , 13334.51  , 11607.37  , 10581.04  , 15132.919 ,
       12580.67  , 12497.434 , 15179.493 , 10081.371 , 12038.951 ,
       11784.995 , 11858.574 , 17714.27  , 10960.188 ,  8392.327 ,
       10191.245 , 24608.09  , 12343.514 , 11358.71  , 14418.175 ,
       13395.688 , 18198.96  , 11034.023 , 11043.352 , 13299.744 ,
       10752.349 , 12934.765 , 16162.512 , 15112.737 , 14269.737 ,
       10036.801 , 10797.314 , 12541.143 , 13486.319 , 12944.58  ,
       14422.142 , 12851.576 , 13798.671 , 10632.232 , 11713.826 ,
       11768.678 , 13319.021 ,  9903.021 , 14769.485 , 22154.814 ,
       14924.371 , 11450.483 ,  8715.247 , 12661.232 , 12138.909 ,
       12448.563 , 23814.135 , 15444.139 , 12812.124 , 20567.684 ,
       15090.521 , 12122.23  , 13434.378 , 12526.809 , 19554.934 ,
       10008.628 , 14400.149 ,  8900.151 , 13798.671 ,  9474.578 ,
       19033.312 , 11506.623 , 10399.622 , 18318.771 , 10585.2295,
       10376.831 , 20657.568 , 10752.349 , 14774.184 , 10767.872 ,
       15774.561 ,  9180.554 , 12616.794 , 14888.517 , 20404.299 ,
       12192.622 , 18097.82  , 20344.678 , 10781.245 , 10811.288 ,
        9584.371 ,  9937.155 , 10612.64  , 13291.367 , 22238.785 ,
       12294.576 ,  8715.247 , 12582.766 ,  8955.159 , 13938.127 ,
       10427.263 , 10625.506 ,  9964.686 , 16900.498 , 12010.21  ,
        7404.306 , 21319.695 , 13554.957 , 22323.795 , 12218.72  ,
       11685.571 ,  8811.19  ,  9049.795 , 15411.196 , 10458.926 ,
        9845.274 , 13672.757 , 11077.876 , 11084.205 , 10214.871 ,
        9710.109 , 19661.96  ,  9177.419 , 12192.622 ,  9743.571 ,
       11991.691 , 12735.898 , 12256.588 , 10745.525 , 14412.646 ,
       15165.887 , 14137.631 ], dtype=float32)

In [26]:
#Evalution Metrics
from sklearn.metrics import r2_score
r2 = r2_score(Y_test,test_pred)
r2
# r2 should be nearer to 1 here it is not performing good for this dataset

0.40499404700191455

In [27]:
# Saving the model
import pickle
filename= "XGBoost_insurance.sav"

In [28]:
pickle.dump(regressor,open(filename,'wb'))
load_model=pickle.load(open("XGBoost_insurance.sav",'rb'))

In [32]:
result=load_model.predict([[29,0,1,45,10000,0,1]])
result

array([17896.904], dtype=float32)